.blog {
  padding: 20px;
  margin-top: 60px;
}
.head {
  text-align: center;
}
img {
  width: 100%;
  margin-top: 10px;
  height: 500px;
}
h1 {
  font-size: 30px;
  margin-top: 10px;
}
p {
  margin-top: 10px;
}
