@import "../../globalscss/global.scss";
@import "../../globalscss/responsivemixins.scss";

.app__register-container {
  padding: 50px 0px;
  min-height: 100vh;
  @include flex(row, center, center, 0px);
  .app__register-subcontainer {
    box-shadow: 0px 0px 20px rgba(120, 120, 120, 0.5);
    height: 80%;
    max-width: 1200px;
    width: 60%;

    @include break(850px) {
      width: 90%;
    }
    @include break(600px) {
      height: 100%;
    }
    @include break(600px) {
      margin-top: 100px;
    }
    .left {
      width: 100%;
      @include flex(row, center, space-around, 0px);

      .app__left-subcontainer {
        padding: 50px 20px;
        @include flex(column, null, null, 18px);

        .app__signup-title {
          @include flex(column, null, null, 18px);

          h1 {
            font-weight: bold;
            font-size: 2.5rem;
            color: rgb(70, 67, 67);
            @include break(1200px) {
              text-align: left;
            }
          }
          p {
            font-weight: 400;
            font-size: 1.2rem;
            color: var(--gray);
          }
        }
        .app__form {
          .form-container {
            @include flex(column, null, null, 20px);

            div {
              border-bottom: 1px solid gray;

              input {
                padding: 10px 5px;
                border: none;
                font-size: 1rem;
                outline: none;
                background-color: transparent;
                @include break(700px) {
                  width: 100%;
                }
              }
            }
            .pass {
              @include flex(row, center, space-between, 10px);
              .icons {
                font-size: 1.5rem;
                cursor: pointer;
              }
            }
          }
        }
        .btn_container {
          @include flex(row, center, center, 15px);
          @include break(230px) {
            @include flex(column, center, center, 15px);
          }
          .btn {
            @include button(var(--doctorpage-btn), black);
            @include break(850px) {
              padding: 8px 20px;
            }
            @include break(320px) {
              padding: 10px;
              font-weight: 500;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
